{% paginate collections.all.products by 4 %}
  <div class="cards mt-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-12">
    {% for product in collections.all.products %}
      {% render 'product-card', product: product %}
    {% endfor %}
  </div>

  <div class="max-w-6xl mx-auto">
    {% render 'pagination', pagination: paginate %}
  </div>
{% endpaginate %}