<div class="max-w-md">
  <div class="text-5xl font-bold my-4">{{ 'general.404.title' | t }}</div>
  <div class="my-4">
    <p class="text-base md:text-xl leading-normal">
      {{ 'general.404.subtext_html' | t }}
    </p>
  </div>
  <div class="my-4">
    {% if section.settings.button_url == blank %}
      {% assign shop_url = shop.secure_url %}
    {% else %}
      {% assign shop_url = section.settings.button_url %}
    {% endif %}
    <a class="px-4 inline py-2 font-base font-medium shadow bg-gray-700 hover:bg-gray-950 text-white" href="{{ shop_url }}">{{ section.settings.button_label }}</a>
  </div>
</div>

{% schema %}
  {
    "name": "Template 404",
    "tag": "section",
    "class": "flex items-center justify-center text-center py-7",
    "settings": [
      {
        "type": "text",
        "id": "button_label",
        "default": "Back to homepage",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      }
    ]
  }
{% endschema %}